{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>      
        <style>
            p{
                font-size: 15px;
                margin-left: 3px;
            }
        </style>          
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header style="margin-left: -66px;">Password Assistance</header>
                    <p><p>Your password has been successfully reset. You can now <a href="{% url 'userapp:loginuser' %}">log in</a> with your new password.</p></p>
                    
            </div>

            <!-- Signup Form -->

        </section>

        <!-- JavaScript -->
        <script src="{% static 'js/loginscript.js' %}"></script>
    </body>
</html>