{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <style>
            .error-messages {
                color: red;
                text-align: center;
                list-style-type: none;
                padding: 0;
            }
            .success-message {
                color: green;
                text-align: center;
            }
        </style>               
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Signup</header>
                    
                    <form action="#" method='POST'>
                        {% csrf_token %}
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" id="email" name="email">
                        </div>
                        <div class="field input-field">
                            <input type="text" placeholder="username" class="username" id="username" name="username">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password" id="password" name="password">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password" id="cpassword" name="cpassword">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="loginuser" class="#">Login</a></span>
                    </div>
                </div>
                {% if messages %}
                <ul class="error-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <div class="line"></div>

           

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>

            </div>

            <!-- Signup Form -->

        </section>

        <!-- JavaScript -->
        <script src="{% static 'js/loginscript.js' %}"></script>
    </body>
</html>